<% var meta = {
  title:'MyDataJapan 勝手表彰 2021',
  desc:'「デジタルの日」を記念し、「MyDataJapan 勝手表彰 2021」として３つの取組みを表彰',
  image: 'https://mydatajapan.org/images/mydata-awards-2021.png',
  url: 'https://mydatajapan.org/awards/2021/'
}; %>
<%- include('../../_layout/header', {meta: meta}) -%>
   <script src="//j.wovn.io/1" data-wovnio="key=XiVGpS" async></script>
   <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-desktop is-centered is-spaced">
                    <div class="column is-10 is-spaced">
                        <h1 class="title">MyDataJapan 勝手表彰 2021</h1>
                        <h2 class="subtitle"></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mdj-content">
        <div class="container">

            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <img src="/images/mydata-awards-2021.png" alt="MyDataJapan 勝手表彰 2021">
            </div>

            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <h1 id="mdj-gaiyou" class="subtitle has-text-weight-semibold">「MyDataJapan 勝手表彰 2021」の概要</h1>
                    <div class="column is-spaced">
                        <p>本年9月1日に創設されたデジタル庁は、「誰一人取り残さない人にやさしいデジタル化」によって、徹底した国民目線でユーザーの体験価値を創出することで、「国民一人ひとりの多様な幸せを実現」することを目指しています。</p><br>
<p>私たち一般社団法人MyDataJapanは、公正で持続可能な社会を実現するため、パーソナルデータに関する個⼈中⼼のアプローチを推進することよって、個⼈をエンパワーする社会の実現を目指して活動しております。その活動の一つとして、フィンランドに本部を置く MyData Global および 全世界に広がる hubネットワークと連携し、MyDataのアイデアを日本に広げるだけでなく、日本におけるMyDataに資する取り組みを世界に発信していきます。 </p><br>
<p>この度、デジタル庁の設置とともに新たに制定された「デジタルの日」に、私たちは「MyDataの原則」を取り入れた活動をする個人・組織・取り組みを「MyDataJapan 勝手表彰 2021」として表彰することで、多くの国民の皆様に取り組みを広く周知すると共に、日本発の取り組みを世界に発信していきます。</p><br>
                    </div>
                </div>
            </div>

            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <h1 id="mdj-ticket" class="subtitle has-text-weight-semibold">受賞者</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <article class="message is-info is-medium">
                        <div class="message-header">
                            <p>出版賞 <i class="fas fa-leaf"></i></p>
                        </div>
                        <div class="message-body">
                            <div class="has-text-weight-semibold">
                            <p>若江雅子著「膨張GAFAとの闘い　デジタル敗戦　霞が関は何をしたのか」</p><br>
                            </div>
                            <div class="has-text-weight-semibold is-size-6">
                            <p>受賞者名：若江雅子</p><br>
                            </div>
                            <div class="is-spaced is-size-6">
                            選定理由：個人情報（パーソナルデータ）に関するGAFA支配の実態を、日本の政策的な側面から赤裸々に描き、文字通りこれに対抗して闘う先駆者達の活躍を彼らのバックグラウンドを含めて描き出し、低価格の「新書」という形で出版された。通常、技術面やビジネス面で描かれることが多いパーソナルデータをめぐる戦いを、政策的側面とその場で戦う個人的側面から生き生きと描きだし、GAFA支配の現状と彼らにまったく相手にされない日本の現状に警鐘を鳴らすとともに、闘いを挑む個人に勇気を与えた。パーソナルデータに関する主権を、GAFA(企業)から個人に取り戻すというMyDataの原則に即した世界の実現にむけた良書であり、日本の中での戦いと世界での戦いの両方を正しく考えていくきっかけになる本書に敬意を表し、ここに表彰する。
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <article class="message is-info is-medium">
                        <div class="message-header">
                            <p>アカウンタビリティ賞 <i class="fas fa-leaf"></i></p>
                        </div>
                        <div class="message-body">
                            <div class="has-text-weight-semibold">
                            <p>「プラットフォームサービスに関する研究会 中間とりまとめ（案）：第２部」における利用者情報の適切な取り扱いの確保に関するプラットフォーム事業者等のモニタリングの実施と公開</p><br>
                            </div>
                            <div class="has-text-weight-semibold is-size-6">
                            <p>受賞者名：総務省「プラットフォームサービスに関する研究会 プラットフォームサービスに係る利用者情報の取扱いに関するワーキンググループ」</p><br>
                            </div>
                            <div class="is-spaced is-size-6">
                            選定理由：上記WGでは、パーソナルデータの企業中心の利用で大きな支配力を持つ大手プラットフォーマー事業者（NTTドコモ、KDDI、ソフトバンク、楽天モバイル、ヤフー、Apple、 Facebook、Google、Agoop、LINE）に対して、利用者情報の取扱いに対するモニタリングを行い、この結果を公表した。一部、公開を拒否した事業者を含め、利用規約やプライバシーポリシーの内容、他アプリやサイトを経由した情報収集状況、他社へのデータ提供と他社との連携状況、など、広範囲なモニタリングを行い、各プラットフォーム事業者のパーソナルデータの取扱いに対するスタンスを見える化した功績は大きい。また、こうした調査に協力的でない海外事業者の実態を明らかにし、MyDataの原則に即した世界の実現に向けて、対比となるプラットフォーマーによる取扱いの現状を整理し、日本が抱える制度的な課題に踏み込んで対応した政府委員会のリスクテイクを感じる取り組みとして高く評価し、ここに表彰する。
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <article class="message is-info is-medium">
                        <div class="message-header">
                            <p>制度デザイン賞 <i class="fas fa-leaf"></i></p>
                        </div>
                        <div class="message-body">
                            <div class="has-text-weight-semibold">
                            <p>三つの個人情報保護法制の統合と2000個問題の解決</p><br>
                            </div>
                            <div class="has-text-weight-semibold is-size-6">
                            <p>受賞者名：個人情報保護委員会他</p><br>
                            </div>
                            <div class="is-spaced is-size-6">
                            選定理由：法に統合するとともに、地方公共団体の個人情報保護制度についても統合後の法律において全国的な共通ルールを規定して、いわゆる2000個問題の解消を断した点を大いに評価する。 法改正の方向性の決定は、内閣官房「個人情報保護制度の見直しに関するタスクフォース」により行われたが、情報収集や方向性決定に向けての検討などの日の当たりづらい事務作業も含めた一連の取り組みを行った同委員会に対して敬意を表したい。 MyDataの実現には、国際基準の「共通ルール」に基づいて、基本的人権としてのパーソナルデータの保護と利活用の両立を図ることが必要であり、その障害になっていた2000個問題が解消に向かうことは大いに評価される。他方で個人情報保護委員会は令和２年の個人情報保護法の改正において、①個人関連情報の規制、②不適正な利用の禁止、③外国における第三者に対する提供時の情報提供の充実等、現代社会におけるプライバシー保護に不可欠な規制に踏み込んだ点も評価される。 今後、パーソナルデータの定義拡充やデータポータビリティ権 などのデータ主体の権利強化など、内容的にも国際水準に進むことが期待される。日本においてMyDataを推進していくための法的基盤となる個人情報保護法のさらなる発展にも期待をこめて、ここに表彰する。
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

    </section>
<%- include('../../_layout/footer') -%>
