<% var meta = {
  title:'MyData LINKS Healthcare - MyData Japan',
  desc:'2019/02/25（月）19:00〜21:30＠DEJIMA MyData LINKS Healthcare',
  image: 'https://mydatajapan.org/images/mydata_links_healthcare_20190225.png',
  url: 'https://mydatajapan.org/events/mydata-links-healthcare-20190225.html'
}; %>
<%- include('../../_layout/header', {meta: meta}) -%>
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-desktop is-centered is-spaced">
                    <div class="column is-10 is-spaced">
                        <h1 class="title">MyData LINKS Healthcare</h1>
                        <h2 class="subtitle"></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mdj-content">
        <div class="container">
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-8">
                    <article class="message is-warning">
                        <div class="message-header">
                            <p>このイベントは終了しました</p>
                        </div>
                        <div class="message-body">
                            <div class="mdj-event-report">
                                <p>発表資料等は以下からご確認いただけます。</p>

                                <p>イベント動画（Facebookの <a href="https://www.facebook.com/mydatajapan/">MyData Japan</a> にアクセスすることで視聴可能）</p>
                                <ul>
                                    <li><a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmydatajapan%2Fvideos%2F326686781312217%2F">動画（前半）</a></li>
                                    <li><a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmydatajapan%2Fvideos%2F290925641575829%2F">動画（後半）</a></li>
                                </ul>
                                <p>発表資料</p>
                                <ul>
                                    <li><a href="https://drive.google.com/open?id=1kjlVK_EuJT0R9XF4hyhg-WgYgSSny9W_">MyData Japan の紹介</a>（株式会社DataSign 代表取締役社長 太田祐一）</li>
                                    <li><a href="https://drive.google.com/open?id=1scDgcbOB8fwu4a7kQwktlRMmi8tG6_ti">ヘルスケアデータ・健康医療データの特徴</a>（MyData Global Founding Member 小林 典弘 氏）</li>
                                    <li><a href="https://drive.google.com/open?id=1o8pLhhQTeFFUz72pcp-gA6DclYS79hJs">ヘルスケアに全ゲノム情報を活用する時代に向けて。～個人のデータからできる事～</a>（エイツーシグマ株式会社 代表取締役 安河内 正文 氏）</li>
                                    <li><a href="https://drive.google.com/open?id=12V3vml3bADitEMbzVgO9bTwwfmAX_9A6">パーソナルデータエコシステムと自立分散協調ヘルスケア</a>（東京大学大学院情報理工学系研究科 教授 橋田 浩一 氏）</li>
                                    <li><a href="https://drive.google.com/open?id=1psTlo8qBe5ei9bOZanU12naeyi8I3Kit">ヘルスケアIoTコンソーシアム（HIT）の活動とHIT発スタートアップ株式会社Sobiの構想</a>株式会社Sobi 代表取締役 高橋 透 氏）</li>
                                </ul>
                                <p>当日写真</p>
                                <ul>
                                    <li><span style="color: red;">整理中</span></li>
                                </ul>
                            </div>

                        </div>
                    </article>

                </div>
            </div>
            
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <img src="/images/mydata_links_healthcare_20190225.png">
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">

                <div class="column is-8">
                    <p>今回は、MyDataと関連する（もしくは包含する）分野やキーワードをテーマに開催する <span><strong style="color: #cc0000;">”MyData LINKS”</strong></span> シリーズ第2弾は、パーソナルヘルスデータをテーマに、それを取り巻く規制的背景などの入門的内容からゲノム、PDS、IoTなどについて有識者の方々からお話を伺います。
                    <br>
                    <br>パネルディスカッションのセッションでは、パーソナルヘルスデータがどのように個人をエンパワーできるのか、そのためには何が必要なのか、規制や社会はどうあるべきなのか等、全員参加型で議論します。
                    </p>
                </div>
            </div>

            <div class="has-text-centered mdj-has-padding-30">
                <a class="button is-primary" href="https://mydata-links-vol2.peatix.com">
                    <span class="icon"><i class="fas fa-bullhorn fa-flip-horizontal"></i></span>
                    <span>お申込みはこちらから</span>
                </a>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-8">
                    <h1 class="subtitle has-text-weight-semibold">開催概要</h1>
                    <div class="mdj-event-detail">
                        <table>
                            <tr>
                                <td width="70px">日時：</td>
                                <td>2019年02月25日(月)　19:00～21:30</td>
                            </tr>
                            <tr>
                                <td>会場：</td>
                                <td>〒141-0022 東京都品川区東五反田２丁目１０−２ 東五反田スクエア１３Ｆ（<a href="https://goo.gl/maps/YnYRMJTn8zu" "target="_blank">地図</a>）
                                    <br>Innovation Space DEJIMA（<a href="https://dejima.space/" target="_blank">詳細</a>）
                                </td>
                            </tr>
                            <tr>
                                <td>料金：</td>
                                <td>無料</td>
                            </tr>
                            <tr>
                                <td>定員：</td>
                                <td>80名</td>
                            </tr>

                        </table>
                    </div>

                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-8">
                    <h1 class="subtitle has-text-weight-semibold">こんな方にオススメ</h1>
                    <div class="mdj-event-detail">
                        <ul>
                            <li>・MyData および MyData Japanについて知りたい</li>
                            <li>・パーソナルヘルスデータを取り巻く環境について概要を知りたい人</li>
                            <li>・RWD、ゲノム情報、PDS、IoTなどに興味のある方</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-8">
                    <h1 class="subtitle has-text-weight-semibold">プログラム</h1>
                    <div class="mdj-event-detail">
                        <table>
                            <tr>
                                <td>18:30～</td>
                                <td>開場・受付、ネットワーキング</td>
                            </tr>
                            <tr>
                                <td>19:00～</td>
                                <td> オープニングトーク</td>
                            </tr>
                            <tr>
                                <td>19:05～</td>
                                <td> MyData Japan の紹介</td>
                            </tr>
                            <tr>
                                <td>19:15～</td>
                                <td> 「ヘルスケアデータ・健康医療データの特徴」
                                    <br> MyData Global　Founding member
                                    <br> 小林 典弘 氏
                                </td>
                            </tr>
                            <tr>
                                <td>19:35～</td>
                                <td> 「ヘルスケアに全ゲノム情報を活用する時代に向けて。～個人のデータからできる事～」
                                    <br> エイツーシグマ株式会社　代表取締役
                                    <br> 安河内 正文 氏
                                </td>
                            </tr>
                            <tr>
                                <td>19:55～</td>
                                <td> 休憩</td>
                            </tr>
                            <tr>
                                <td>20:05～</td>
                                <td> 「パーソナルデータエコシステムと自立分散協調ヘルスケア」
                                    <br> アセンブローグ株式会社　技術顧問
                                    <br> 東京大学大学院情報理工学系研究科　教授
                                    <br> 橋田 浩一 氏
                                </td>
                            </tr>
                            <tr>
                                <td>20:25～</td>
                                <td> 「ヘルスケアIoTコンソーシアム（HIT）の活動とHIT発スタートアップ株式会社Sobiの構想」
                                     <br> 株式会社ニューチャーネットワークス　代表取締役
                                     <br> ヘルスケアIoTコンソーシアム　理事
                                     <br> 株式会社Sobi　代表取締役
                                     <br> 高橋 透 氏
                                </td>
                            </tr>
                            <tr>
                                <td>20:45～</td>
                                <td> 休憩</td>
                            </tr>
                            <tr>
                                <td>20:55～</td>
                                <td> パネルディスカッション/全員参加型Q&A
                                </td>
                            </tr>
                            <tr>
                                <td>21:25～</td>
                                <td> DEJIMAの紹介</td>
                            </tr>
                            <tr>
                                <td>21:30～</td>
                                <td> クロージング、ネットワーキング</td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                        <p><span style="color: red;">※注意事項：時間、発表者は変更の可能性がありますのでご了承ください</span></p>

                    </div>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-8">
                    <h1 class="subtitle has-text-weight-semibold">主催</h1>

                    <p>MyData Japan</p>

                </div>
            </div>
            <div class="has-text-centered mdj-has-padding-30">
                <a class="button is-primary" href="https://mydata-links-vol2.peatix.com">
                    <span class="icon"><i class="fas fa-bullhorn fa-flip-horizontal"></i></span>
                    <span>お申込みはこちらから</span>
                </a>
            </div>

        </div>

    </section>
<%- include('../../_layout/footer') -%>
