<% var meta = {
  title:'MyData Japan 2019 - MyData Japan',
  desc:'2019/05/15（水）10:00〜19:00＠一橋講堂',
  image: 'https://mydatajapan.org/images/mydatajapan_2019.jpg',
  url: 'https://mydatajapan.org/events/mydata-japan-2019.html'
}; %>
<%- include('../../_layout/header', {meta: meta}) -%>
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-desktop is-centered is-spaced">
                    <div class="column is-10 is-spaced">
                        <h1 class="title">MyData Japan 2019</h1>
                        <h2 class="subtitle"></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mdj-content">
        <div class="container">
            
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <img src="/images/mydatajapan_2019.jpg" alt="MyData Japan 2019">
            </div>
            <div class="has-text-centered mdj-has-padding-30">
                <h1 class="title is-1">coming soon...</h1>
            </div>

        </div>

    </section>
<%- include('../../_layout/footer') -%>
