<% var meta = {
  title:'MyData Asia 2020 - MyData Global/Japan',
  desc:'2020/06/29（月） - 30（火） 10:00〜19:00＠一橋講堂',
  image: 'https://mydatajapan.org/images/mydata_asia_2020.jpg',
  url: 'https://mydatajapan.org/events/mydata-japan-2019.html'
}; %>
<%- include('../../_layout/header', {meta: meta}) -%>
   <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-desktop is-centered is-spaced">
                    <div class="column is-10 is-spaced">
                        <h1 class="title">MyData Asia 2020</h1>
                        <h2 class="subtitle"></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mdj-content">
        <div class="container">

            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <img src="/images/mydata_asia_2020.jpg" alt="MyData Japan 2019">
            </div>


            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <div class="tabs">
                        <ul>
                            <li><a href="#mdj-gaiyou">開催概要</a></li>
                            <li><a href="#mdj-ticket">チケット</a></li>
                            <li><a href="#mdj-guide">会場案内</a></li>
                            <li><a href="#mdj-program">有料プログラム</a></li>
                            <li><a href="#mdj-exhibition">展示紹介</a></li>
                            <li><a href="#mdj-sponsor">協賛</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <h1 id="mdj-gaiyou" class="subtitle has-text-weight-semibold">開催概要</h1>
                    <div class="mdj-event-detail">
                        <table>
                            <tr>
                                <td width="70px">日時：</td>
                                <td>2020年06月29日(月)~30日(火)　10:00～19:00（9:40開場）</td>
                            </tr>
                            <tr>
                                <td>会場：</td>
                                <td>一橋講堂（<a href="http://www.hit-u.ac.jp/hall/accessjp.html" target="_blank">詳細</a>）
                                    <br>〒101-8439 東京都千代田区一ツ橋2-1-2 学術総合センター内（<a href="https://goo.gl/maps/4QgPgK8NRES2" target="_blank">GoogleMap</a>）
                                </td>
                            </tr>
                            <tr>
                                <td>定員：</td>
                                <td>
                                    早割・通常チケット 700名
                                </td>
                            </tr>
                            <tr>
                                <td>主催：</td>
                                <td>
                                    <a href="/">MyData Japan</a>
                                    <br>
                                    <a href="http://mydatakorea.org/" target="_blank">MyData Korea&nbsp;<i class="fas fa-external-link-alt"></i></a>
                                    <br>
                                    <a href="https://twitter.com/MydataTaiwan" target="_blank">MyData Taiwan&nbsp;<i class="fas fa-external-link-alt"></i></a>
                                    <br>
                                    <a href="http://okfn.jp/" target="_blank">一般社団法人オープン・ナレッジ・ファウンデーション・ジャパン&nbsp;<i class="fas fa-external-link-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>共催：</td>
                                <td>
                                    <a href="http://www.glocom.ac.jp/" target="_blank">国際大学グローバル・コミュニケーション・センター</a>
                                </td>
                            </tr>
                            <tr>
                                <td>後援：</td>
                                <td>
                                    <a href="https://mydata.org/" target="_blank">MyData Global&nbsp;<i class="fas fa-external-link-alt"></i></a>
                                    <br>
                                    <a href="" target="_blank">TBC&nbsp;<i class="fas fa-external-link-alt"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <h1 id="mdj-ticket" class="subtitle has-text-weight-semibold">チケット</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-3">
                    <article class="message is-info is-medium">
                        <div class="message-header">
                            <p>早割チケット <i class="fas fa-leaf"></i></p>
                        </div>
                        <div class="message-body">
                            TBC
                            <div class="is-size-6">
                                すべての会場に入場いただけます。
                                <br>先着n名限定！
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-3">
                    <article class="message is-info is-medium">
                        <div class="message-header">
                            <p>通常チケット</p>
                        </div>
                        <div class="message-body">
                            5,000円
                            <div class="is-size-6">
                                すべての会場に入場いただけます。
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <h1 id="mdj-guide" class="subtitle has-text-weight-semibold">会場案内</h1>
                    <img src="/images/mydatajapan-2019-guide.png" alt="MyData Japan 2019">
                </div>
            </div>


            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <h1 id="mdj-program" class="subtitle has-text-weight-bold">有料プログラム</h1>
                    <div class="mdj-event-detail">
                        TBC
                    </div>
                </div>
            </div>

            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <h1 id="mdj-exhibition" class="subtitle has-text-weight-semibold">展示紹介</h1>
                </div>
            </div>

            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-3">
                    <article class="message is-warning">
                        <div class="message-header">
                            TBC
                        </div>
                        <div class="message-body">
                            TBC
                            <div class="is-size-7">
                                TBC
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <h1 id="mdj-sponsor" class="subtitle has-text-weight-semibold">展示・協賛（ABC順）</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="mdj-sponsor column is-2 has-text-centered">
                    <a class="is-centered" href="" target="_blank">
                        <p class="mdj-sponsor-logo"><img src="/images/sponsor/stock-vector-under-construction-sign-vector-illustration-for-website-578538790.jpg" alt="TBC"></p>
                        <p class="mdj-sponsor-name">TBC</p>
                    </a>
                </div>
            </div>

            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <h1 id="mdj-sponsor" class="subtitle has-text-weight-semibold">協賛（ABC順）</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="mdj-sponsor column is-2 has-text-centered">
                    <a class="is-centered" href="" target="_blank">
                        <p class="mdj-sponsor-logo"><img src="/images/sponsor/stock-vector-under-construction-sign-vector-illustration-for-website-578538790.jpg" alt="TBC"></p>
                        <p class="mdj-sponsor-name">TBC</p>
                    </a>
                </div>
            </div>


            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <h1 id="mdj-organizer" class="subtitle has-text-weight-semibold">主催</h1>

                    <p><a href="/">MyData Japan</a></p>
                    <p><a href="http://mydatakorea.org/" target="_blank">MyData Korea&nbsp;<i class="fas fa-external-link-alt"></i></a></p>
                    <p><a href="https://twitter.com/MydataTaiwan" target="_blank">MyData Taiwan&nbsp;<i class="fas fa-external-link-alt"></i></a></p>
                    <p><a href="http://okfn.jp/" target="_blank">一般社団法人オープン・ナレッジ・ファウンデーション・ジャパン&nbsp;<i class="fas fa-external-link-alt"></i></a></p>

                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <h1 id="mdj-organizer" class="subtitle has-text-weight-semibold">共催</h1>

                    <a href="http://www.glocom.ac.jp/" target="_blank">国際大学グローバル・コミュニケーション・センター</a>

                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-9">
                    <h1 id="mdj-supporter" class="subtitle has-text-weight-semibold">後援</h1>
                    <p><a href="https://mydata.org/" target="_blank">MyData Global&nbsp;<i class="fas fa-external-link-alt"></i></a></p>
                    <p><a href="" target="_blank">TBC&nbsp;<i class="fas fa-external-link-alt"></i></a></p>

                </div>
            </div>



        </div>

    </section>
<%- include('../../_layout/footer') -%>
