    <footer class="footer is-size-7">
        <div class="content has-text-centered">

            <div class="columns is-centered is-desktop">
                <div class="column is-2"><a href="/documents/privacy_policy.html">プライバシーポリシー</a></div>
                <div class="column is-2">
                    <input type="hidden" id="opn_link_text" value="オンラインプライバシー通知">
                    <div id="datasign_privacy_notice">
                        <script id="__datasign_privacy_notice__" src="https://as.datasign.co/js/opn.js" data-hash="2016ad56"></script>
                    </div>
                </div>
            </div>
            <div class="c-footer-left-copyright">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script> <a href="https://mydatajapan.org/" target="_blank">一般社団法人MyDataJapan</a> & <a href="https://mydata.org/" target="_blank">MyData.org</a> (CC BY 4.0)
            </div>
        </div>
    </footer>
</body>

</html>
