<% var meta = { 
  title:'新経済連盟の「懸念」に対する懸念 - MyData Japan', 
  desc:'新経済連盟の発表した「電気通信事業法の改正の方向性に対する懸念について」に対する懸念',
  image: 'https://mydatajapan.org/images/concerns_about_concerns.png',
  url: 'https://mydatajapan.org/documents/concerns_about_concerns.html'
}; %>
<%- include('../../_layout/header', {meta: meta}) -%>    
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-desktop is-centered is-spaced">
                    <div class="column is-10 is-spaced">
                        <h1 class="title">新経済連盟の「懸念」に対する懸念</h1>
                        <h2 class="subtitle">新経済連盟の発表した「電気通信事業法の改正の方向性に対する懸念について」に対する懸念</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mdj-content">
        <div class="container">
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                    <div class="column is-8 is-spaced">
                        <img src="/images/concerns_about_concerns.png" alt="新経済連盟の「懸念」に対する懸念">
                    </div>
            </div>

            <div class="columns is-desktop is-centered is-spaced">
                <div class="column is-10 is-spaced mdj-declaration mdj-marked">
                </div>
                <script src="/dist/js/marked.min.js"></script>
                <script>
                    $.get("https://raw.githubusercontent.com/MyDataJapan/documents/master/proposals/concerns_about_concerns.md", function (data) {
                        var md = marked(data);
                        $(".mdj-declaration").html(md);
                    });
                </script>
            </div>
        </div>
    </section>
<%- include('../../_layout/footer') -%>
