<% var meta = { 
  title:'過去にPeatix経由でMyData Japan のイベントへ参加された方へのお知らせ - MyData Japan', 
  desc:'「MyData Japan」は、MyDataの考え方を日本で広めるための活動をする組織です',
  image: 'https://mydatajapan.org/images/MyDataJapan_ogp.png',
  url: 'https://mydatajapan.org/declaration.html'
}; %>
<%- include('../../_layout/header', {meta: meta}) -%>    
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-desktop is-centered is-spaced">
                    <div class="column is-10 is-spaced">
                        <h1 class="title">過去にPeatix経由でMyData Japan のイベントへ参加された方へのお知らせ</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mdj-content">
        <div class="container">

            <div class="columns is-desktop is-centered is-spaced">
                <div class="column is-10 is-spaced mdj-declaration mdj-marked">
                    <p>2020年11月17日、Peatix社から<a href="https://announcement.peatix.com/20201117_ja.pdf" target="_blank">個人情報流出のお知らせ</a>が公表されました。</p>
                    <p>2020年10月16日〜17日にかけて発生した不正アクセスにより、Peatix利用者のお客様情報（氏名、メール、暗号化されたパスワードなど）が最大677万件不正に引き出されたというものです。（現在のところクレジットカード情報、住所及び電話番号が引き出された事実は確認されておりません）</p>
                    <p>過去、MyDataJapanでは、以下のセミナーでPeatixを用いました。</p>
                    <p></p>
                    <ul>
                        <li>2018/05/25(金) 10:00-18:30　MyData Japan 2018</li>
                        <li>2018/10/31(水) 18:00-20:30　MyData 101 vol.1 〜入門編〜</li>
                        <li>2018/12/14(金) 19:00-21:30　MyData LINKS Identity</li>
                        <li>2019/02/25(月) 19:00-21:35　MyData LINKS Healthcare</li>
                        <li>2019/05/15(水) 10:00-18:45　MyData Japan 2019</li>
                        <li>2019/05/17(金) 18:30-21:00　MyData Global - 情報銀行の震源地欧州からのムーヴメント</li>
                        <li>2019/10/09(水) 18:00-22:00　MyData LINKS “The Great Hack”</li>
                    </ul>
                    <p></p>
                    <p>当該セミナーに参加登録された方には、<a href="https://announcement.peatix.com/20201117_ja.pdf" target="_blank">peatix社からのお知らせ</a>をご一読の上、パスワードの変更を強くおすすめいたします。</p>
                    <p>ご心配、ご迷惑をおかけし、お詫び申し上げます。</p>
                    <p>■Peatix Japan株式会社による発表と対応につい て</p>
                    <a href="https://announcement.peatix.com/20201117_ja.pdf">https://announcement.peatix.com/20201117_ja.pdf</a>
                    <p>■Peatix パスワード再設定方法</p>
                    <a href="https://peatix.com/user/forgot_password">https://peatix.com/user/forgot_password</a>
                </div>
            </div>
        </div>
    </section>
<%- include('../../_layout/footer') -%>
