<% var meta = { 
  title:'理事・監事・顧問リスト - MyData Japan', 
  desc:'MyData Japanのボードメンバーリストです。',
  image: 'https://mydatajapan.org/images/MyDataJapan_ogp.png',
  url: 'https://mydatajapan.org/aboutus/directors_list.html'
}; %>
<%- include('../../_layout/header', {meta: meta}) -%>    
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-desktop is-centered is-spaced">
                    <div class="column is-10 is-spaced">
                        <h1 class="title">理事・監事・顧問リスト</h1>
                        <h2 class="subtitle"></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mdj-content">
        <div class="container">
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-6">
                    <h1 id="mdj-program" class="subtitle has-text-weight-bold">理事・監事・顧問リスト</h1>
                    <table class="mdj-table">
                        <tr>
                            <td class="mdj-vcentered">理事長</td>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                崎村　夏彦
                                                <div class="is-size-7">
                                                    OpenID Foundation
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#FFC000">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#FFC000">T</font>

                                                    <font color="#FFC000">S</font>
                                                </B>
                                            </div>

                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/sakimura.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td class="mdj-vcentered">副理事長</td>
                            <td>
                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                佐古　和恵
                                                <div class="is-size-7">
                                                    早稲田大学
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#FFC000">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#FFC000">T</font>

                                                    <font color="#FFC000">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/kazuesako.png">
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        <tr>
                            <td>　</td>
                        </tr>
                        <tr>
                            <td class="mdj-vcentered">常務理事</td>
                            <td>
                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                青柳　伸宏
                                                <div class="is-size-7">
                                                    グリーンウィロー株式会社
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#FFC000">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#C8C8C8">T</font>

                                                    <font color="#C8C8C8">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/aoyanagi.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td class="mdj-vcentered">常務理事</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                伊藤　直之
                                                <div class="is-size-7">
                                                    株式会社インテージ
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#FFC000">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#C8C8C8">T</font>

                                                    <font color="#C8C8C8">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/naoyukiito.JPG">
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>

                        <tr>
                            <td class="mdj-vcentered">常務理事</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                太田　祐一
                                                <div class="is-size-7">
                                                    株式会社DataSign
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#FFC000">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#FFC000">T</font>

                                                    <font color="#C8C8C8">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/yuichiota.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        <tr>
                            <td>　</td>
                        </tr>
                        <tr>
                            <td class="mdj-vcentered">理事</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                石垣　一司
                                                <div class="is-size-7">
                                                    富士通株式会社
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#FFC000">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#C8C8C8">T</font>

                                                    <font color="#FFC000">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/ishigaki.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        <tr>
                            <td class="mdj-vcentered">理事</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                奥原　早苗
                                                <div class="is-size-7">
                                                    公益社団法人 日本消費生活アドバイザー・コンサルタント・相談員協会
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#C8C8C8">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#C8C8C8">T</font>

                                                    <font color="#FFC000">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/okuhara.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        <tr>
                            <td class="mdj-vcentered">理事</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                落合　孝文
                                                <div class="is-size-7">
                                                    渥美酒井法律事務所・外国法共同事業
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#C8C8C8">B</font>

                                                    <font color="#FFC000">L</font>

                                                    <font color="#C8C8C8">T</font>

                                                    <font color="#FFC000">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/ochiai.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        <tr>
                            <td class="mdj-vcentered">理事</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                庄司　昌彦
                                                <div class="is-size-7">
                                                    武蔵大学/Open Knowledge Japan etc.
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#C8C8C8">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#C8C8C8">T</font>

                                                    <font color="#FFC000">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/masahikosyoji.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>

                        <tr>
                            <td class="mdj-vcentered">理事</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                瀧　俊雄
                                                <div class="is-size-7">
                                                    株式会社マネーフォワード
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#FFC000">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#FFC000">T</font>

                                                    <font color="#C8C8C8">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/taki.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td class="mdj-vcentered">理事</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                橋田　浩一
                                                <div class="is-size-7">
                                                    東京大学大学院
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#FFC000">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#FFC000">T</font>

                                                    <font color="#C8C8C8">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/koichihashida.png">
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        <tr>
                            <td class="mdj-vcentered">理事</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                森　亮二
                                                <div class="is-size-7">
                                                    英知法律事務所
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#C8C8C8">B</font>

                                                    <font color="#FFC000">L</font>

                                                    <font color="#C8C8C8">T</font>

                                                    <font color="#C8C8C8">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/mori.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        
                        <tr>
                            <td class="mdj-vcentered">理事</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                安田　クリスチーナ
                                                <div class="is-size-7">
                                                    InternetBar.org
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#FFC000">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#C8C8C8">T</font>

                                                    <font color="#FFC000">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/kristinayasuda.png">
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        
                        <tr>
                            <td>　</td>
                        </tr>
                        <tr>
                            <td class="mdj-vcentered">監事</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                数藤　雅彦
                                                <div class="is-size-7">
                                                    五常総合法律事務所
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#C8C8C8">B</font>

                                                    <font color="#FFC000">L</font>

                                                    <font color="#C8C8C8">T</font>

                                                    <font color="#C8C8C8">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/sudo.png">
                                            </div>

                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        <tr>
                            <td>　</td>
                        </tr>
                        <tr>
                            <td class="mdj-vcentered">顧問</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                柴崎　亮介
                                                <div class="is-size-7">
                                                    東京大学空間情報科学研究センター
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#C8C8C8">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#C8C8C8">T</font>

                                                    <font color="#FFC000">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/shibasaki.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>

                        <tr>
                            <td class="mdj-vcentered">顧問</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                砂原　秀樹
                                                <div class="is-size-7">
                                                    慶応義塾大学大学院メディアデザイン研究科
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#C8C8C8">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#FFC000">T</font>

                                                    <font color="#FFC000">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/sunahara.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        <tr>
                            <td class="mdj-vcentered">顧問</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                中川　裕志
                                                <div class="is-size-7">
                                                    理化学研究所
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#C8C8C8">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#FFC000">T</font>

                                                    <font color="#C8C8C8">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/nakagawa.gif">
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        <tr>
                            <td class="mdj-vcentered">顧問</td>
                            <td>

                                <article class="message is-info">

                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column is-7">
                                                古谷　由紀子
                                                <div class="is-size-7">
                                                    サスティナビリティ消費者会議
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <B>
                                                    <font color="#C8C8C8">B</font>

                                                    <font color="#C8C8C8">L</font>

                                                    <font color="#C8C8C8">T</font>

                                                    <font color="#FFC000">S</font>
                                                </B>
                                            </div>
                                            <div class="column is-3 is-marginless is-paddingless mdj-speaker-thumb">
                                                <img src="/images/board/furuya.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        <tr border="none">
                            <td colspan="2" style="border-style: none;">
                                <div class="column is-size-7">
                                    <p>※BLTSについて</p>
                                    <p>BLTサンドイッチになぞらえ、Business, Legal, Technology, Societyの各専門分野が、
                                        手に手を取って直面している課題に応えていくという考え方。
                                        各人がどの領域の専門家であるかを表現している。</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    2022年2月4日現在
                </div>
            </div>
        </div>
    </section><%- include('../../_layout/footer') -%>
