<% var meta = { 
  title:'会員リスト - MyData Japan', 
  desc:'MyData Japanの会員リストです。',
  image: 'https://mydatajapan.org/images/MyDataJapan_ogp.png',
  url: 'https://mydatajapan.org/aboutus/member_list.html'
}; %>
<%- include('../../_layout/header', {meta: meta}) -%>
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-desktop is-centered is-spaced">
                    <div class="column is-10 is-spaced">
                        <h1 class="title">会員一覧</h1>
                        <h2 class="subtitle"></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mdj-content">
        <div class="container">
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-6">
                    <h1 id="mdj-program" class="subtitle has-text-weight-bold">法人会員 </h1>
                    <table class="mdj-table">
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <a href="https://www.intage.co.jp/" class="column" target="_blank">
                                                株式会社インテージ
                                            </a>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <a href="https://www.greenwillow.co.jp/" class="column" target="_blank">
                                                グリーンウィロー株式会社
                                            </a>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <a href="https://datasign.jp/" class="column" target="_blank">
                                                株式会社DataSign
                                            </a>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <a href="https://www.macromill.com/" class="column" target="_blank">
                                                株式会社マクロミル
                                            </a>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-6">
                    <h1 id="mdj-program" class="subtitle has-text-weight-bold">個人会員 </h1>
                    <table class="mdj-table">
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                太田　祐一
                                                <div class="is-size-7">
                                                    株式会社DataSign
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                庄司　昌彦
                                                <div class="is-size-7">
                                                    武蔵大学／一般社団法人オープン・ナレッジ・ファウンデーション・ジャパン
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                鈴木　顕英
                                                <div class="is-size-7">
                                                    EYアドバイザリー・アンド・コンサルティング株式会社
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                若目田　光生
                                                <div class="is-size-7">
                                                    株式会社日本総合研究所
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                伊藤　直之
                                                <div class="is-size-7">
                                                    株式会社インテージ
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                宍戸　常寿
                                                <div class="is-size-7">
                                                    東京大学
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                小林　典弘
                                                <div class="is-size-7">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                新村　純一
                                                <div class="is-size-7">
                                                    一般社団法人日本クールシニア推進機構
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                柳　久美子
                                                <div class="is-size-7">
                                                    一般社団法人日本クールシニア推進機構
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                石垣　一司
                                                <div class="is-size-7">
                                                    株式会社富士通研究所
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                田邉　圭介
                                                <div class="is-size-7">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                佐古　和恵
                                                <div class="is-size-7">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                薄井　重徳
                                                <div class="is-size-7">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                橋田　浩一
                                                <div class="is-size-7">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                向縄　嘉律哉
                                                <div class="is-size-7">
                                                    DataGateway株式会社
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                宮崎　洋史
                                                <div class="is-size-7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                三浦　貢造
                                                <div class="is-size-7">
                                                    NTTコミュニケーションズ（株）
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                安田　クリスチーナ
                                                <div class="is-size-7">
                                                    InternetBar.org
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                柏崎　吉一
                                                <div class="is-size-7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-6">
                    <h1 id="mdj-program" class="subtitle has-text-weight-bold">特別会員 </h1>
                    <table class="mdj-table">
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <a href="https://www.sci-j.or.jp/" class="column" target="_blank">
                                                一般社団法人スマートシティ・インスティテュート
                                            </a>
                                        </div>
                                    </div>
                                </article>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <a href="https://healthcareiotcons.com/" class="column" target="_blank">
                                                ヘルスケアIoTコンソーシアム
                                            </a>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <article class="message is-info">
                                    <div class="message-body">
                                        <div class="columns is-mobile">
                                            <a href="http://itfpc.jp/" class="column" target="_blank">
                                                情報信託機能普及協議会
                                            </a>
                                        </div>
                                    </div>
                                </article>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-6">
                    2020年2月17日現在
                </div>
            </div>
        </div>
    </section>
<%- include('../../_layout/footer') -%>
