<% var meta = { 
  title:'私たちについて - MyData Japan', 
  desc:'「MyData Japan」は、MyDataの考え方を日本で広めるための活動をする組織です',
  image: 'https://mydatajapan.org/images/MyDataJapan_ogp.png',
  url: 'https://mydatajapan.org/about.html'
}; %>
<%- include('../_layout/header', {meta: meta}) -%>    
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-desktop is-centered is-spaced">
                    <div class="column is-10 is-spaced">
                        <h1 class="title">私たちについて</h1>
                        <h2 class="subtitle">日本においてMyDataの原則を推進しています</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mdj-content">
        <div class="container">
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-10">
                    <h1 class="title">MyData Japanについて</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-5 is-spaced">
                    <p class="is-size-6">
                        「MyData Japan」は、MyDataの考え方を日本で広めるための活動をする組織です。過去にMyData Japan 2017、MyData Japan 2018のカンファレンスを、ここ日本においてはオープンナレッジファウンデーションジャパンとして開催してきました。日本においても、年々この考え方に共感する参加者が増えていますが、個人として、企業として、よりこの考え方にコミットし、活動できる場が必要だと考えています。この取組みに参加する人々を増やしていくとともに、MyData Japanとして、MyDataの考え方に沿った提言、カンファレンス等のイベントの開催を行っていきます。
                    </p>
                    <hr>
                    <h1 class="subtitle">MyData Global Japan Hubとして</h1>
                    <p class="is-size-6">
                        MyData Globalの設立に合わせ、MyData Globalの日本拠点としての活動も行っていきます。いま、パーソナルデータのパラダイムシフトは世界的なムーブメントになっています。この世界的な動きを日本においても発信していくことに加え、日本におけるこのパラダイムシフトを世界に発信し、MyDataの原則に適切に反映させていくことも重要な役割であると考えています。
                    </p>
                </div>
                <div class="column is-5 is-spaced has-text-centered">
                    <img class="mdj-is-vertical-centered" src="images/MyDataJapan_large_logo.png" alt="MyData Declaration" width="100%">
                </div>
            </div>
            <hr>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-10">
                    <h1 class="title">MyData Globalについて</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-5 is-spaced has-text-centered">
                    <img class="mdj-is-vertical-centered mdj-has-shadow" src="images/MyData-Global-Hubs-map.jpg" alt="MyData Declaration" width="100%">
                </div>
                <div class="column is-5 is-spaced">
                    <p class="is-size-6">
                        「MyData Global」は、2018年10月11日に設立され、「個人がパーソナルデータを自分自身のために使い、自分の意思で安全に共有できるようにする」という個人中心のMyDataの考え方を世界に発信していく組織です。MyDataカンファレンスは2016年から毎年フィンランドのヘルシンキで開催され、ヨーロッパをはじめ、日本、アメリカ、オーストラリアなど世界各国の拠点からこの考え方に共感する参加者が集まっています。この考え方はオープンナレッジの活動から生まれたオープンでスタンダードなものです、「MyData」という用語を使用するかどうかにかかわらず、技術的なものから法的なものまで、世界中にさまざまな取組みがあります。MyData Globalは、よりグローバルな組織として、世界の様々な拠点においての活動を強化し、この価値観に共感するより多くの人々に、パーソナルデータのパラダイムを逆転させるこのMyDataの活動への参加を呼びかけていきます。
                    </p>
                    <div class="has-text-centered mdj-has-padding-30">
                        <a class="button is-primary" href="https://mydata.org/">
                            <span class="icon"><i class="fas fa-globe"></i></span>
                            <span>MyData Globalのウェブサイトへ</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include('../_layout/footer') -%>
