<% var meta = { 
  title:'お問い合わせ - MyData Japan', 
  desc:'「MyData Japan」は、MyDataの考え方を日本で広めるための活動をする組織です',
  image: 'https://mydatajapan.org/images/MyDataJapan_ogp.png',
  url: 'https://mydatajapan.org/contact.html'
}; %>
<%- include('../_layout/header', {meta: meta}) -%>    
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-desktop is-centered is-spaced">
                    <div class="column is-10 is-spaced">
                        <h1 class="title">お問い合わせ</h1>
                        <h2 class="subtitle">MyData Japanへの参加や取材のお問い合わせはこちらからお願いいたします</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mdj-content">
        <div class="container">
            <div class="columns is-desktop is-centered is-spaced">
                <div class="column is-8 is-spaced">
                    <script id="_bownow_cs_sid_da604183880f03916be5">
                        var _bownow_cs_sid_da604183880f03916be5 = document.createElement('script');
                        _bownow_cs_sid_da604183880f03916be5.charset = 'utf-8';
                        _bownow_cs_sid_da604183880f03916be5.src = 'https://contents.bownow.jp/forms/sid_da604183880f03916be5/trace.js';
                        document.getElementsByTagName('head')[0].appendChild(_bownow_cs_sid_da604183880f03916be5);
                    </script>
                </div>
            </div>
        </div>
    </section>
<%- include('../_layout/footer') -%>
