<% var meta = { 
  title:'イベント - MyData Japan', 
  desc:'「MyData Japan」は、MyDataの考え方を日本で広めるための活動をする組織です',
  image: 'https://mydatajapan.org/images/MyDataJapan_ogp.png',
  url: 'https://mydatajapan.org/events.html'
}; %>
<%- include('../_layout/header', {meta: meta}) -%>    
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-desktop is-centered is-spaced">
                    <div class="column is-10 is-spaced">
                        <h1 class="title">イベント</h1>
                        <h2 class="subtitle">MyDataに関するカンファレンス等のイベント情報</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mdj-content">
        <div class="container">
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-10">
                    <h1 class="subtitle has-text-weight-semibold">イベント</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered mdj-content-top">
                <p>MyData Japan 2019の開催を企画しています。詳細は決定次第掲載いたします。</p>
            </div>
            <hr>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-10">
                    <h1 class="subtitle has-text-weight-semibold">国外イベント</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered mdj-content-top">
                <a href="https://mydata.org/who-we-are/organisation/" class="column is-3 is-spaced">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="images/mydata_barcelona.png" alt="MyData Global general meeting">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="is-6">2018/11/15（木）23:00-</p>
                                    <p class="is-6">バルセロナ - スペイン</p>
                                    <p class="title is-4">MyData Global General meeting</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <hr>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-10">
                    <h1 class="subtitle has-text-weight-semibold">過去のイベント</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered mdj-content-top">
                <a href="/events/mydata101-vol1.html" class="column is-3 is-spaced">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="images/mydata101_vol1.png" alt="MyData Global general meeting">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="is-6">2018/10/31（水）18:00-</p>
                                    <p class="is-6">FUJITSU PLY（蒲田駅）</p>
                                    <p class="title is-4">MyData 101 vol.1
                                        <br>〜入門編〜</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://mydata.org/who-we-are/organisation/" class="column is-3 is-spaced">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="https://mydata.org/wp-content/uploads/sites/5/2018/10/Screen-Shot-founding-meeting.png" alt="MyData Global founding meeting">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="is-6">2018/10/11（木）22:00-</p>
                                    <p class="is-6">オンライン</p>
                                    <p class="title is-4">MyData Global Founding meeting</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-10">
                    <p><a target="_blank" "http://mydata2018.org">MyData 2018</a> (August 29–31, 2018)</p>
                    <p><a target="_blank" href="https://mydata.org/lyon">MyData Community Meeting &#8211; Lyon</a> (19-20. June, 2018)</p>
                    <p><a target="_blank" href="http://www.glocom.ac.jp/events/3379">MyData Japan 2018</a> &#8211; Tokyo (May, 2018)</p>
                    <p><a target="_blank" href="https://mydata.org/torino/">MyData Community Meeting &#8211; Turin</a> (12-13 April, 2018)</p>
                    <p><a target="_blank" href="https://mydata.org/aarhus/">MyData Community Meeting &#8211; Aarhus</a> (Nov. 23.–24. 2017)</p>
                    <p><a target="_blank" href="http://mydata2017.org">MyData 2017 &#8211; Tallinn&amp;Helsinki</a> (Aug 30. &#8211; Sep 1, 2017)</p>
                    <p><a target="_blank" href="http://okfn.jp/2017/04/05/mydata-japan-2017/">MyData Japan 2017</a> &#8211; Tokyo (May 19, 2017)</p>
                    <p><a target="_blank" href="https://www.eventbrite.com/e/5th-eu-pims-workshop-berlin-march-30th-31st-tickets-32431341014#">Round Table &#8211; Berlin</a> (Mar. 30-31, 2017)</p>
                    <p><a target="_blank" href="https://www.eventbrite.com/e/4th-eu-pims-workshop-london-registration-28940582060">Round Table &#8211; London</a> (Dec. 15 -16, 2016)</p>
                    <p><a target="_blank" href="http://mydata2016.org/">MyData 2016 &#8211; Helsinki</a> (Aug. 31. &#8211; Sep 2, 2016)</p>
                    <p><a target="_blank" href="http://relations.fing.org/civicrm/event/info?reset=1&amp;id=638">Round Table &#8211; Paris</a> (Apr. 25-26, 2016)</p>
                    <p>Round Table &#8211; Brussels (Nov. 27, 2015)</p>
                </div>
            </div>

        </div>
    </section>
<%- include('../_layout/footer') -%>
