<% var meta = { 
  title:'MyData Japan', 
  desc:'「MyData Japan」は、MyDataの考え方を日本で広めるための活動をする組織です',
  image: 'https://mydatajapan.org/images/MyDataJapan_ogp.png',
  url: 'https://mydatajapan.org'
}; %>
<%- include('../_layout/header', {meta: meta}) -%>    
    <section class="hero is-medium">
        <div class="hero-body mdj-has-bg-img">
            <div class="container">
                <div class="columns is-desktop is-centered is-spaced">
                    <div class="column is-10 is-spaced mdj-hero-title">
                        <h1 class="title mdj-has-dark-shadow">MyData Japan</h1>
                        <h2 class="subtitle mdj-has-dark-shadow">MyData Global Japan Hub</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mdj-content">
        <div class="container">
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-10">
                    <h1 class="subtitle has-text-weight-semibold">MyDataの原則について</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered mdj-content-top">
                <div class="column is-5 is-spaced">
                    <p class="is-size-6">
                        私たちはパーソナルデータに対する<strong>個人中心</strong>のアプローチに向けた取り組みを推進しています。 個人が自身のデータについて十分に理解し、<strong>主体性と主導権</strong>を持って、自らのためにパーソナルデータを活用できる世界を目指しています。 この価値観を共有し、<strong>パーソナルデータのパラダイムを逆転</strong>させる MyData Japan の活動にぜひ参加してください。
                    </p>
                    <p><strong>MyDataへの宣言</strong>に賛同されるかたはぜひ入会いただき、このパラダイムシフトを推進しましょう。</p>
                    <div class="has-text-centered mdj-has-padding-30">
                        <a class="button is-primary" href="/documents/declaration.html">
                            <span class="icon"><i class="fas fa-bullhorn fa-flip-horizontal"></i></span>
                            <span>MyDataへの宣言</span>
                        </a>
                        <a class="button is-warning" href="/application/">
                            <span class="icon"><i class="fas fa-pen-fancy"></i></span>
                            <span>入会について</span>
                        </a>
                    </div>
                </div>
                <div class="column is-5 is-spaced has-text-centered">
                    <a href="/declaration.html">
                        <img class="mdj-is-vertical-centered" src="images/declaratio-badge-500x500-300x300.png" alt="MyData Declaration" width="200px">
                    </a>
                </div>
            </div>
            <hr>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-10">
                    <h1 class="subtitle has-text-weight-semibold">MyData Japanについて</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-5 is-spaced has-text-centered">
                    <a href="/about.html">
                        <img class="mdj-is-vertical-centered mdj-has-shadow" src="images/mydatajapan2018.png" alt="MyData Declaration" width="100%">
                    </a>
                </div>
                <div class="column is-5 is-spaced">
                    <p class="is-size-6">
                        「MyData Japan」は、MyDataの考え方を日本で広めるための活動をする組織です。過去にMyData Japan 2017、MyData Japan 2018のカンファレンスを、ここ日本においてはオープンナレッジファウンデーションジャパンとして開催してきましたが、MyData Globalの設立に合わせ、MyData Japanとしての活動、およびMyData Globalの日本拠点としての活動を強化し、MyDataの考え方に沿った提言、カンファレンス等のイベントの開催を行っていきます。
                    </p>
                    <div class="has-text-centered mdj-has-padding-30">
                        <a class="button is-primary" href="/aboutus/">
                            <span class="icon"><i class="fas fa-flag"></i></span>
                            <span>MyData Japanについて</span>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-10">
                    <h1 class="subtitle has-text-weight-semibold">コンセプトビデオ（英語）</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top mdj-youtube">
                <div class="column is-10 is-centered has-text-centerd">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/qNf-GFjVM2s?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
<%- include('../_layout/footer') -%>
